<template>
    <div>
        <ul class="todos">
            <li v-for="(item, key) in items" :key="item.name">
                <input type="checkbox"
                    :id="'item_' + key"
                    class="checkbox"
                    :checked="item.status === 'completed'"
                    @change="$emit('changeItemStatus', item)" />
                <label :for="'item_' + key">{{item.name}}</label>
                <span @click="$emit('removeItem', item)">✖</span>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: 'TodoList',
        props: ['items'],
        emits: ['changeItemStatus', 'removeItem']
    }
</script>

<style scoped>

</style>