<template>
    <div class="filter">
      <div class="todolist">
        <div class="filters">
          <template v-for="(filter) in filters" :key="filter.value">
            <input type="radio" name="filter"
              :id="filter.value"
              :value="filter.value"
              @click="$emit('setFilterValue', filter.value)"
              v-model="activeFilter" />
            <label :for="filter.value">{{filter.label}}</label>
          </template>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
        name: 'TodoFilters',
        data() {
            return {
                activeFilter: 'all'
            }
        },
        props: ['filters'],
        emits: ['setFilterValue']
    }
</script>

<style scoped>

</style>