<template>
  <div class="main">
    <h2>TODO LIST</h2>
    <TodoForm
      @addItem="addItem" />
    <TodoFilters
      :filters="getFilters"
      :activeFilter="$store.state.activeFilter"
      @setFilterValue="setFilterValue" />
    <TodoList
      :items="filteredItems"
      @changeItemStatus="changeItemStatus"
      @removeItem="removeItem" />
    <button @click="deleteItems">Clear Completed Items</button>
  </div>
</template>

<script>
import {mapMutations, mapGetters} from "vuex"

import TodoList from './components/TodoList.vue'
import TodoFilters from './components/TodoFilters.vue'
import TodoForm from './components/TodoForm.vue'

export default {
  name: 'App',
  components: {
    TodoList,
    TodoFilters,
    TodoForm,
  },
  methods: {
    ...mapMutations(['setFilterValue', 'changeItemStatus', 'addItem', 'deleteItems', 'removeItem'])
  },
  computed: {
    ...mapGetters(['filteredItems', 'completedItems', 'getFilters'])
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.main {
  margin: 0 auto;
  width: 30%;
  text-align: left;
  border: 1px solid;
  padding: 20px 30px;
}
ul.todos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
}
ul.todos > li {
    display: flex;
    gap: 10px;
    padding: 5px 0;
}
ul.todos > li span {
  cursor: pointer;
}
.checkbox {
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    gap: 10px;
}
</style>